body {
    background-color: antiquewhite;
}

nav#navvy.navbar.navbar-static-top {
    margin-bottom: 0px;
    background-color: #4A5257;
}

#navvy a {
    color: #D8EFFC;
}
/*BUTTON*/
button.navbar-toggle {
    border: 1px solid #D8EFFC;
}

span.icon-bar {
    border: 1px solid #D8EFFC;
}
/*LOCATION*/
.jumbotron {
    margin: 0px;
    padding: 0px;
}

#map {
    display: block;
    padding: 0px;
    height: 410px;
}

#imgLoc {
    padding: 0px;
    height: 410px;
}

.banner {
    text-align: center;
    color: #D8EFFC;
    background-color: #4A5257;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    height: 100px;
    font-family: 'Sanchez', serif;
}

#zeroMargon {
    margin:0px;
}

#localImgOne {
    margin: 0px;
    padding: 0px;
    width: 350px;

}

.localOne {
    background-color: antiquewhite;
    margin-top:25px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding: 0px;
    font-family: 'Domine', serif;
}

#blurbOne {
    text-align: left;
    text-align: justify;
}

.jumboTwo {
    background-color: #4A5257;
}

.localTwo {
    color:antiquewhite;
    background-color: #4A5257;
    margin: 0px;
    padding: 0px;
    font-family: 'Domine', serif;
}
#localImgTwo {
    margin-top:25px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    padding: 0px;
    width: 350px;
}
/*AMENITIES*/
.amenities{
    margin:auto;
}
.thumbnail{
    position:relative;
    background-color:antiquewhite;
    border:none;
}
.insideCaption{
    position:absolute;
    top:45%;
    left:0px;
    width:100%;
    color:white;
    font-family: 'Bitter', serif;
}
.thumText{
    text-align:center;
    font-family: 'Bitter', serif;
}
.btnStyle{
    background-color:#4A5257;
}
/*CAROUSEL*/
.revBanner{
    text-align: center;
    color: #D8EFFC;
    background-color: #4A5257;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 0px;
    height: 125px;
    width:1600px;
    font-family: 'Sanchez', serif;
}
#backPlate{
    height:300px;
    width:1200px;
}
#captLetters{
    color:#4A5257;
}
/*CONTACT*/

.contact {
background:#4A5257;
color:antiquewhite;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
/*FOOTER*/
.footer{
    text-align: center;
    color: #D8EFFC;
    background-color: #4A5257;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 125px;
    font-family: 'Sanchez', serif;
}